<nav class="effeckt-off-screen-nav" id="effeckt-off-screen-nav" ng-class="{'effeckt-off-screen-nav-left-push': reveal, 'effeckt-off-screen-nav-show': navshow}">

  <h4>
    Navigation
    <a href="#0" id="effeckt-off-screen-nav-close" class="effeckt-off-screen-nav-close">×</a>
  </h4>

  <ul>
    <li><a href="#0">This</a></li>
    <li><a href="#0">Little</a></li>
    <li><a href="#0">Piggy</a></li>
    <li><a href="#0">Went</a></li>
    <li><a href="#0">To</a></li>
    <li><a href="#0">Market</a></li>
  </ul>

</nav>
<div class="page-wrap" id="page-wrap">
<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Time Tracker</h1>
    </div>
</div>
<div class="topcoat-list">
  <ul class="topcoat-list__container">
    <li class="topcoat-list__item">
      Item
    </li>
    <li class="topcoat-list__item">
      Item
    </li>
    <li class="topcoat-list__item">
      Item
    </li>
  </ul>
</div>
<div class="jumbotron">
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav" ng-click="showNav()">Left Push</button>
</div>

</div>
